* {
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/background-black.jpg");
}
div {
    width: 80%;
    margin: auto;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 35px;
}