@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.lien{
    display: flex!important;
    justify-content: space-between !important;
    align-items: baseline !important;
    padding-top: 10px !important;
    background-color: #000 !important;
    position: fixed !important;
    width: 100vw;
    z-index: 90000000;

}
*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    color: #000 !important;
}
.navbar-brand {
    margin-left: 50px !important;
}

nav img{
    width: 150px;
    margin-left: 40px;
}

body {
    background-color: rgb(232, 232, 232) !important;
    overflow: hidden;
}


main {
    padding-top: 100px !important;
    color: whitesmoke !important;
    width: 70% !important;
    margin: auto !important;
    margin-bottom: 100px!important;
}

.flex {
    display: flex !important;
    gap: 10px !important;
}

.logo {
    height: 50px !important;
    width: 220px !important;
    margin: 0 !important;
}

.accountForm {
    border-top: #000 1px solid;
    margin-top: 30px;
    padding-top: 30px;
}
form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
}
label {
    color: #000;
    margin-bottom: 5px;
}
input {
    margin-bottom: 20px !important;
    outline: none;
    border-radius: 5px;
    height: 35px;
    background-color: lightgray !important;
}
button {
    width: 40%;
    margin: auto !important;
    background-color: #000000;
    color: whitesmoke;
    border-radius: 5px !important;
    margin-top: 20px !important;
}
.title {
    display: flex;
    gap: 450px;
    align-items: baseline;
}
.title a {
    text-decoration: none;
    color: #000;
}
.title img {
    width: 40px;
    padding-right: 5px;
    padding-bottom: 2px;
}