.lien{

    display: flex!important;
    justify-content: space-between !important;
    align-items: center;
    padding-top: 20px !important;
    padding-bottom: 10px  !important;
    
}
.flex{
    display: flex !important; 
    align-items: baseline;
    
}

.space{

    width: 20% !important; 
    padding-left: 100px !important;
    
    
}

.navbar-brand {

    padding-left: 200px !important;
}

.compte {

    padding-left: 600px;
}