@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
.lien{
    display: flex!important;
    justify-content: space-between !important;
    align-items: baseline !important;
    padding-top: 10px !important;
    background-color: black !important;
    position: fixed !important;
    width: 100vw;
    z-index: 90000000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex !important; 
    align-items: baseline;
}
main{
    width: 90% !important;
    margin: auto !important;
    padding-top: 150px !important;
}

.navbar-brand {
    margin-left: 50px !important;
}

.compte {
    margin-left: 500px;
}
nav img{
    width: 150px;
    margin-left: 40px;
}

body {
    background-color:black !important;
}

.logo {
    height: 50px !important;
    width: 220px !important;
    margin: 0 !important;
}

.wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
}
.imgFilm {
    width: 200px !important;
    transition: 250ms all;
}
.imgFilm:hover {
    width: 250px !important;
    transition: 250ms all;
}

form {
    margin-left: 120px;
}
input {
    height: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: rgb(70, 70, 70) !important;
    outline: none;
    border: none;
    border-left: 1px solid #323232;
    padding-left: 5px;
    color: #c2c2c2;
}  
label {
    background-color: rgb(70, 70, 70);
    padding: 5px 10px 3px 10px;
    margin-right: -5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    color: #c2c2c2;
    font-size: 15px;
}
form button {
    display: none;
}